<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Fatura Invoice</title>
</head>
{% apply inline_css(source('@ToraidoFatura/css/fatura.css')) %}
    <body class="A4">
    {% block content %}

    {% endblock %}
    </body>
{% endapply %}
</html>